@page "/Itineraries"
@using Assistant.Domain.Itineraries
@using Assistant.WebApp.Components.Itineraries
@using Assistant.WebApp.Components.Projects

<PageTitle>Itineraries</PageTitle>

<MudItem xs="12">
    <h1>Itineraries</h1>
    <ItinerariesTable/>
</MudItem>

<MudItem xs="12">
    <CreateProjectForm TProject="Itinerary" TMeta="string?" TItem="Activity" TChange="ItineraryChange" ProjectTypeName="itinerary" ProjectTypeSubPath="Itineraries" ProjectCreator="CreateItinerary"/>
</MudItem>

@code
{
    private Itinerary CreateItinerary(string name) => new()
    {
        Id = Guid.CreateVersion7(),
        Name = name,
        Meta = null
    };
}
