@page "/Itineraries"
@using ItineraryManager.WebApp.Components.Itineraries

<PageTitle>Itineraries</PageTitle>

<MudItem xs="12">
    <h1>Itineraries</h1>
    <ItinerariesTable/>
</MudItem>

<MudItem xs="12">
    <CreateItineraryForm/>
</MudItem>