@page "/Itineraries"
@using ItineraryManager.WebApp.Components.Itineraries

<PageTitle>Itineraries</PageTitle>

<MudItem xs="12">
    <h1>Itineraries</h1>
</MudItem>

<ItinerariesTable/>
<CreateItineraryForm/>